// 占位符

// focus去除边框
%tab-focus {
	// Default
	outline: thin dotted;
	// WebKit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// 居中对齐
%block-center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

// 文字overflow
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%hide-text() {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
%text-hide() {
  @extend %hide-text;
}